@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.Hero{
  height: 600px;
}
.body{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  scroll-behavior: smooth;
}
.ls{
  letter-spacing: -2px;
}
.bor{
  border: 0.01px solid gray;
}
.info{
  display: flex;
  align-items: center;
  gap: 5px;
}
.inp{
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.hero-2{
  background: rgb(245,255,0);
  background: linear-gradient(293deg, rgba(245,255,0,1) 0%, rgba(0,137,255,1) 100%);
}
.trig:hover > .btn{
  transform: translateY(0);
  transition:  all 180ms;
}
.paper{
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.list-blue::marker{
  color: #488193;
}
.shad{
  -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,1);
box-shadow: 0px 0px 5px -2px rgba(0,0,0,1);
}
.A4{
  width: 210mm;
  height: 393mm;
}